---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: clusterpodconventions.conventions.carto.run
spec:
  group: conventions.carto.run
  names:
    categories:
    - conventions
    kind: ClusterPodConvention
    listKind: ClusterPodConventionList
    plural: clusterpodconventions
    singular: clusterpodconvention
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              priority:
                type: string
              selectorTarget:
                type: string
              selectors:
                items:
                  properties:
                    matchExpressions:
                      items:
                        properties:
                          key:
                            type: string
                          operator:
                            type: string
                          values:
                            items:
                              type: string
                            type: array
                        required:
                        - key
                        - operator
                        type: object
                      type: array
                    matchLabels:
                      additionalProperties:
                        type: string
                      type: object
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              webhook:
                properties:
                  certificate:
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                  clientConfig:
                    properties:
                      caBundle:
                        format: byte
                        type: string
                      service:
                        properties:
                          name:
                            type: string
                          namespace:
                            type: string
                          path:
                            type: string
                          port:
                            format: int32
                            type: integer
                        required:
                        - name
                        - namespace
                        type: object
                      url:
                        type: string
                    type: object
                required:
                - clientConfig
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
